body {
  background-color: #70adb5;
}
h1 {
  font-family: sans-serif;
  text-shadow: 3px 3px red;
}
h3 {
  font-family: monospace;
  text-shadow: 3px 3px violet;
}
hr {
  background-color: #70adb5;
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
  width: 5%

}
